<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joycity.joyclub.apifront.mapper.manual.act.ActFrontMapper">
    <sql id="limit">
      limit #{pageUtil.offset},#{pageUtil.pageSize}
  </sql>

    <sql id="list_column">
    a.id,a.portrait,a.name,a.base_price,p.price,a.store_id,s.name storeName,s.pickup_address storeAddress
</sql>
    <select id="selectByProjectOrStore"
            resultType="com.joycity.joyclub.apifront.modal.act.ActSimpleWithAddress">

        select
        <include refid="list_column"/>
        from sale_act_price p
        left join sale_act a on a.id = p.act_id
        left join sys_store s on a.store_id=s.id
        where
        <if test="projectId!=null">
            s.project_id = #{projectId} and
        </if>
        <if test="storeId!=null">
            a.store_id = #{storeId} and
        </if>

        p.delete_flag=0 and p.review_status=1 and p.start_time&lt;=now() and p.end_time&gt;=now()
        order by a.display_weight desc,a.id desc

        <include refid="limit"/>
    </select>


</mapper>