<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joycity.joyclub.product.mapper.ProductOrderMapper">
    <sql id="limit">
      limit #{pageUtil.offset},#{pageUtil.pageSize}
  </sql>
    <resultMap id="MainOrder" type="com.joycity.joyclub.product.modal.generated.SaleProductOrder">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="out_pay_code" jdbcType="VARCHAR" property="outPayCode"/>
        <result column="project_id" jdbcType="BIGINT" property="projectId"/>
        <result column="client_id" jdbcType="BIGINT" property="clientId"/>
        <result column="receive_type" jdbcType="TINYINT" property="receiveType"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="money_sum" jdbcType="INTEGER" property="moneySum"/>
        <result column="point_sum" jdbcType="INTEGER" property="pointSum"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime"/>
        <result column="canceler" jdbcType="TINYINT" property="canceler"/>
        <result column="receiver_name" jdbcType="VARCHAR" property="receiverName"/>
        <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone"/>
        <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress"/>
        <result column="receiver_postcode" jdbcType="VARCHAR" property="receivePostcode"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate"/>
        <result column="delete_flag" jdbcType="BIT" property="deleteFlag"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>

    </resultMap>
    <resultMap id="MainOrderWithStores" type="com.joycity.joyclub.product.modal.ProductMainOrderWithStores">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="out_pay_code" jdbcType="VARCHAR" property="outPayCode"/>
        <result column="project_id" jdbcType="BIGINT" property="projectId"/>
        <result column="client_id" jdbcType="BIGINT" property="clientId"/>
        <result column="receive_type" jdbcType="TINYINT" property="receiveType"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="money_sum" jdbcType="INTEGER" property="moneySum"/>
        <result column="point_sum" jdbcType="INTEGER" property="pointSum"/>
        <result column="pay_type" jdbcType="TINYINT" property="payType"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime"/>
        <result column="canceler" jdbcType="TINYINT" property="canceler"/>
        <result column="receiver_name" jdbcType="VARCHAR" property="receiverName"/>
        <result column="receiver_phone" jdbcType="VARCHAR" property="receiverPhone"/>
        <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress"/>
        <result column="receiver_postcode" jdbcType="VARCHAR" property="receivePostcode"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate"/>
        <result column="delete_flag" jdbcType="BIT" property="deleteFlag"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>

        <collection property="storeOrders" resultMap="StoreOrder" columnPrefix="so_"/>
    </resultMap>

    <resultMap id="StoreOrder" type="com.joycity.joyclub.product.modal.ProductStoreOrderWithDetails">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="store_id" jdbcType="BIGINT" property="storeId"/>
        <result column="money_sum" jdbcType="INTEGER" property="moneySum"/>
        <result column="point_sum" jdbcType="INTEGER" property="pointSum"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime"/>
        <result column="delivery_company" jdbcType="VARCHAR" property="deliveryCompany"/>
        <result column="delivery_code" jdbcType="VARCHAR" property="deliveryCode"/>
        <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime"/>
        <result column="notice_refund_time" jdbcType="TIMESTAMP" property="noticeRefundTime"/>
        <result column="refund_time" jdbcType="TIMESTAMP" property="refundTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate"/>
        <result column="delete_flag" jdbcType="BIT" property="deleteFlag"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>


        <result column="pickup_address" property="pickupAddress"/>
        <result column="service_phone" property="servicePhone"/>
        <result column="name" property="name"/>
        <collection property="orderDetails" resultMap="OrderDetail" columnPrefix="d_"/>
    </resultMap>

    <resultMap id="OrderDetail" type="com.joycity.joyclub.product.modal.ProductOrderDetailInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="store_order_id" jdbcType="BIGINT" property="storeOrderId"/>
        <result column="product_attr" jdbcType="BIGINT" property="productAttr"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="point_rate" jdbcType="REAL" property="pointRate"/>
        <result column="money_paid" jdbcType="INTEGER" property="moneyPaid"/>
        <result column="point_paid" jdbcType="INTEGER" property="pointPaid"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate"/>
        <result column="delete_flag" jdbcType="BIT" property="deleteFlag"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>

        <result column="product_name" property="productName"/>
        <result column="portrait" property="portrait"/>
        <result column="attr_name" property="attrName"/>
    </resultMap>

    <resultMap id="StoreOrderWithMainOrder"
               type="com.joycity.joyclub.product.modal.ProductStoreOrderWithDetailsAndMainOrder">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="store_id" jdbcType="BIGINT" property="storeId"/>
        <result column="money_sum" jdbcType="INTEGER" property="moneySum"/>
        <result column="point_sum" jdbcType="INTEGER" property="pointSum"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime"/>
        <result column="delivery_company" jdbcType="VARCHAR" property="deliveryCompany"/>
        <result column="delivery_code" jdbcType="VARCHAR" property="deliveryCode"/>
        <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime"/>
        <result column="notice_refund_time" jdbcType="TIMESTAMP" property="noticeRefundTime"/>
        <result column="refund_time" jdbcType="TIMESTAMP" property="refundTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate"/>
        <result column="delete_flag" jdbcType="BIT" property="deleteFlag"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>


        <result column="pickup_address" property="pickupAddress"/>
        <result column="service_phone" property="servicePhone"/>
        <result column="name" property="name"/>
        <association property="mainOrder" columnPrefix="mo_" resultMap="MainOrder"/>
        <collection property="orderDetails" resultMap="OrderDetail" columnPrefix="so_d_"/>
    </resultMap>
    <sql id="main_order_columns">
        id,code,project_id,client_id,receive_type,status,money_sum,point_sum,pay_type,pay_time,cancel_time,canceler,receivr_name,
        receiver_phone,receiver_address,receive_postcode,create_time
    </sql>
    <select id="selectMyOrders" resultMap="MainOrderWithStores">

        select mo.id,mo.code,mo.project_id,mo.client_id,mo.status
        ,mo.receive_type,mo.money_sum,mo.point_sum, mo.pay_type,mo.pay_time
        ,mo.cancel_time,mo.canceler,mo.receiver_name,mo.receiver_phone,mo.receiver_address,mo.receiver_postcode,mo.create_time
        ,so.id so_id,so.store_id so_store_id,so.money_sum so_money_sum,so.point_sum so_point_sum
        ,so.status so_status,so.delivery_time so_delivery_time,so.delivery_company so_delivery_company
        ,so.delivery_code so_delievery_code,so.receive_time so_receive_time,so.notice_refund_time so_notice_refund_time
        ,so.refund_time so_refund_time,so.create_time so_create_time
        ,store.name so_name,store.pickup_address so_pickup_address,store.service_phone so_service_phone
        ,d.id so_d_id, d.num so_d_num,d.price so_d_price,d.point_rate so_d_point_rate,d.money_paid so_d_money_paid,d.point_paid
        so_d_point_paid,d.create_time so_d_create_time
        ,attr.name so_d_attr_name,product.name so_d_product_name,product.portrait so_d_portrait
        from (select * from sale_product_order where delete_flag=0 and project_id=#{projectId} and client_id =
        #{clientId} <if test="status!=null">and status=#{status}</if> order by  create_time desc <include refid="limit"/>)
        mo
        left join sale_product_order_store so on so.order_id = mo.id
        join sale_product_order_detail d on d.store_order_id = so.id
        join sys_store store on store.id = so.store_id
        join sale_product_attr attr on attr.id = d.product_attr
        join sale_product product on product.id = attr.product_id
        order by  mo.create_time desc
    </select>

    <select id="selectMyOrderDetail" resultMap="MainOrderWithStores">

        select mo.id,mo.code,mo.project_id,mo.client_id,mo.status
        ,mo.receive_type,mo.money_sum,mo.point_sum, mo.pay_type,mo.pay_time
        ,mo.cancel_time,mo.canceler,mo.receiver_name,mo.receiver_phone,mo.receiver_address,mo.receiver_postcode,mo.create_time
        ,so.id so_id,so.store_id so_store_id,so.money_sum so_money_sum,so.point_sum so_point_sum
        ,so.status so_status,so.delivery_time so_delivery_time,so.delivery_company so_delivery_company
        ,so.delivery_code so_delievery_code,so.receive_time so_receive_time,so.notice_refund_time so_notice_refund_time
        ,so.refund_time so_refund_time,so.create_time so_create_time
        ,store.name so_name,store.pickup_address so_pickup_address,store.service_phone so_service_phone
        ,d.id so_d_id, d.num so_d_num,d.price so_d_price,d.point_rate so_d_point_rate,d.money_paid so_d_money_paid,d.point_paid
        so_d_point_paid,d.create_time so_d_create_time
        ,attr.name so_d_attr_name,product.name so_d_product_name,product.portrait so_d_portrait
        from (select * from sale_product_order where id = #{orderId} and delete_flag=0 )
        mo
        left join sale_product_order_store so on so.order_id = mo.id
        join sale_product_order_detail d on d.store_order_id = so.id
        join sys_store store on store.id = so.store_id
        join sale_product_attr attr on attr.id = d.product_attr
        join sale_product product on product.id = attr.product_id
        order by  mo.create_time desc
    </select>

 <!--   <select id="selectMyStoreOrders" resultMap="MainOrder">

        select   so.*,d.num so_d_num,d.price so_d_price,d.point_rate so_d_point_rate,d.money_paid so_d_money_paid,d.point_paid
        so_d_point_paid,d.create_time so_d_create_time
        ,attr.name so_d_attr_name,product.name so_d_product_name,product.portrait so_d_portrait
        from (
        select so.id so_id,so.store_id so_store_id,so.money_sum so_money_sum,so.point_sum so_point_sum
        ,so.status so_status,so.delivery_time so_delivery_time,so.delivery_company so_delivery_company
        ,so.delivery_code so_delievery_code,so.receive_time so_receive_time,so.notice_refund_time so_notice_refund_time
        ,so.refund_time so_refund_time,so.create_time so_create_time
        ,mo.id,mo.code,mo.project_id,mo.client_id,mo.status
        ,mo.receive_type,mo.money_sum,mo.point_sum, mo.pay_type,mo.pay_time
        ,mo.cancel_time,mo.canceler,mo.receiver_name,mo.receiver_phone,mo.receiver_address,mo.receiver_postcode,mo.create_time
        from sale_product_order_store so
        join sale_product_order mo on so.order_id=mo.id where so.delete_flag=0 and mo.project_id=#{projectId}
        and mo.client_id = #{clientId} <if test="receiveType!=null">and mo.receive_type=#{receiveType}</if> <if test="status!=null">and so.status=#{status}</if> order by
        so.create_time desc
        <include refid="limit"/>
        ) so
        join sale_product_order_detail d on d.store_order_id = so.so_id
        join sys_store store on store.id = so.so_store_id
        join sale_product_attr attr on attr.id = d.product_attr
        join sale_product product on product.id = attr.product_id
    </select>-->

    <select id="selectMyStoreOrders" resultMap="StoreOrderWithMainOrder">

        select so.*
        ,store.name name,store.pickup_address pickup_address,store.service_phone service_phone
        ,d.id so_d_id,d.num so_d_num,d.price so_d_price,d.point_rate so_d_point_rate,d.money_paid so_d_money_paid,d.point_paid so_d_point_paid,d.create_time so_d_create_time
        ,attr.name so_d_attr_name,product.name so_d_product_name,product.portrait so_d_portrait
        from
        (
        select so.id id,so.store_id store_id,so.money_sum money_sum,so.point_sum point_sum
        ,so.status status,so.delivery_time delivery_time,so.delivery_company delivery_company
        ,so.delivery_code delievery_code,so.receive_time receive_time,so.notice_refund_time notice_refund_time
        ,so.refund_time refund_time,so.create_time create_time
        ,mo.id order_id,mo.code mo_code,mo.project_id mo_project_id,mo.client_id mo_client_id,mo.status mo_status
        ,mo.receive_type mo_receive_type,mo.money_sum mo_money_sum,mo.point_sum mo_point_sum, mo.pay_type mo_pay_type,mo.pay_time mo_pay_time
        ,mo.cancel_time mo_cancel_time,mo.canceler mo_canceler,mo.receiver_name mo_receiver_name,mo.receiver_phone mo_receiver_phone,mo.receiver_address mo_receiver_address,mo.receiver_postcode mo_receiver_postcode,mo.create_time mo_create_time
        from sale_product_order_store so
        join sale_product_order mo on so.order_id=mo.id where so.delete_flag=0 and mo.project_id=#{projectId}
        and mo.client_id = #{clientId} <if test="receiveType!=null">and mo.receive_type=#{receiveType}</if> <if test="status!=null">and so.status=#{status}</if>
        order by  so.create_time desc
        <include refid="limit"/>
        ) so
        join sale_product_order_detail d on d.store_order_id = so.id
        join sys_store store on store.id = so.store_id
        join sale_product_attr attr on attr.id = d.product_attr
        join sale_product product on product.id = attr.product_id
        order by so.create_time desc
    </select>

    <select id="selectMyNotReceivedStoreOrders" resultMap="StoreOrderWithMainOrder">

        select so.*
        ,store.name name,store.pickup_address pickup_address,store.service_phone service_phone
        ,d.id so_d_id,d.num so_d_num,d.price so_d_price,d.point_rate so_d_point_rate,d.money_paid so_d_money_paid,d.point_paid so_d_point_paid,d.create_time so_d_create_time
        ,attr.name so_d_attr_name,product.name so_d_product_name,product.portrait so_d_portrait
        from
        (
        select so.id id,so.store_id store_id,so.money_sum money_sum,so.point_sum point_sum
        ,so.status status,so.delivery_time delivery_time,so.delivery_company delivery_company
        ,so.delivery_code delievery_code,so.receive_time receive_time,so.notice_refund_time notice_refund_time
        ,so.refund_time refund_time,so.create_time create_time
        ,mo.id mo_id,mo.code mo_code,mo.project_id mo_project_id,mo.client_id mo_client_id,mo.status mo_status
        ,mo.receive_type mo_receive_type,mo.money_sum mo_money_sum,mo.point_sum mo_point_sum, mo.pay_type mo_pay_type,mo.pay_time mo_pay_time
        ,mo.cancel_time mo_cancel_time,mo.canceler mo_canceler,mo.receiver_name mo_receiver_name,mo.receiver_phone mo_receiver_phone,mo.receiver_address mo_receiver_address,mo.receiver_postcode mo_receiver_postcode,mo.create_time mo_create_time
        from sale_product_order_store so
        join sale_product_order mo on so.order_id=mo.id
        where so.delete_flag=0 and mo.project_id=#{projectId}
        and mo.client_id = #{clientId}
        and ((mo.receive_type = 0 and so.status=2) or (mo.receive_type=1 and so.status=3))
        order by  so.create_time desc
       <include refid="limit"/>
        ) so
        join sale_product_order_detail d on d.store_order_id = so.id
        join sys_store store on store.id = so.store_id
        join sale_product_attr attr on attr.id = d.product_attr
        join sale_product product on product.id = attr.product_id
        order by so.create_time desc
    </select>


</mapper>