<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joycity.joyclub.apiback.mapper.account.ManagerMapper">
    <resultMap id="Manager" type="com.joycity.joyclub.apiback.modal.account.Manager">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="typeName" property="typeName"/>
        <result column="sub_type" jdbcType="TINYINT" property="subType"/>
        <result column="info_id" jdbcType="TINYINT" property="infoId"/>
        <result column="forbid_flag" jdbcType="BIT" property="forbidFlag"/>
        <result column="forbid_time" jdbcType="TIMESTAMP" property="forbidTime"/>
    </resultMap>

    <select id="getList" resultMap="Manager">
        select  id, account, password, `type`, case `type` when 1 then '系统管理员' when 2 then '项目管理员' when 3 then  '商户管理员' else null end typeName,
        project_type,case project_type when 1 then '商场项目' when 2 then '地产项目' when 3 then '第三方项目' else null end projectTypeName,
         sub_type, info_id, forbid_flag, forbid_time from sys_user
         where delete_flag=0
         <if test="type !=null">
             and `type`=#{type}
         </if>
        <if test="infoId !=null">
            and info_id=#{infoId}
        </if>
    </select>
</mapper>