<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joycity.joyclub.act.mapper.ActMapper">
    <sql id="limit">
      limit #{pageUtil.offset},#{pageUtil.pageSize}
  </sql>
    <sql id="where_store_and_name">
        <where>
            p.delete_flag=0
            <if test="nameLike!=null">
                and p.name like #{nameLike}
            </if>
        </where>

    </sql>

    <sql id="where_act_name_and_store_name">
        <where>
            p.delete_flag=0
            <if test="actName!=null">
                and p.name like #{actName}
            </if>
        </where>

    </sql>

    <select id="countByActNameAndStoreName" resultType="java.lang.Long">

        select count(*) from sale_act p
        <include refid="where_act_name_and_store_name"/>
    </select>

    <select id="selectByActNameAndStoreName"
            resultType="com.joycity.joyclub.act.modal.ActWithStoreName">

        select p.id, p.name, p.carousel
        from sale_act p
        <include refid="where_act_name_and_store_name"/>
        order by p.id desc
        <include refid="limit"/>
    </select>

    <select id="countByStoreIdAndName" resultType="java.lang.Long">

        select count(*) from sale_act p
        <include refid="where_store_and_name"/>
    </select>
    <select id="selectByStoreIdAndName"
            resultType="com.joycity.joyclub.act.modal.ActWithCategoryName">

        select p.id,p.name,p.base_price,p.category_id,c.name categoryName
        from sale_act p
        left join sys_act_category c on c.id=p.category_id
        <include refid="where_store_and_name"/>
        order by p.id desc
        <include refid="limit"/>
    </select>

    <select id="selectActSimpleListByIds" resultType="com.joycity.joyclub.act.modal.ActSimple">
        select a.id,a.store_id,a.portrait,a.name,a.info,a.base_price,p.price,p.point_rate,p.buy_type,cat.point_rate basePointRate,a.address
        from sale_act_price p
        join sale_act a on p.act_id=a.id
        LEFT join sys_act_category cat on a.category_id=cat.id
        <where>
            now() between p.start_time and p.end_time
            AND a.id IN
            <foreach collection="ids" index="index" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </select>


    <sql id="list_column">
        a.id,a.portrait,a.name,a.base_price,p.price,a.store_id,s.name storeName,s.pickup_address storeAddress
    </sql>
    <select id="selectSimpleList"
            resultType="com.joycity.joyclub.act.modal.ActSimple">

     <!-- select
        <include refid="list_column"/>
        from sale_act_price p
        left join sale_act a on a.id = p.act_id
        left join sys_store s on a.store_id=s.id
        where
        <if test="projectId!=null">
            s.project_id = #{projectId} and
        </if>
        <if test="storeId!=null">
            a.store_id = #{storeId} and
        </if>

        p.delete_flag=0 and p.review_status=1 and p.start_time&lt;=now() and p.end_time&gt;=now()
        order by a.display_weight desc,a.id desc-->

        select a.id,a.store_id,a.portrait,a.name,a.info,a.base_price,p.price,p.point_rate,p.buy_type,cat.point_rate basePointRate,a.address
        from sale_act_price p
        join sale_act a on p.act_id=a.id
        LEFT join sys_act_category cat on a.category_id=cat.id
        where
        p.delete_flag=0 and p.forbid_flag=0 and p.review_status=1
<!--        <if test="projectId!=null">
            and store.project_id = #{projectId}
        </if>-->
        <if test="storeId!=null">
            and a.store_id = #{storeId}
        </if>
        <if test="actTypeId!=null">
            and a.act_type_id = #{actTypeId}
        </if>
        <if test="!history">
            and now() between p.start_time and p.end_time
        </if>
        <if test="history">
            and now() <![CDATA[ > ]]>   p.end_time
        </if>
        order by a.display_weight desc,p.id desc
        <include refid="limit"/>
    </select>

    <select id="countSimpleList" resultType="long">
        select count(*)
        from sale_act_price p
        join sale_act a on p.act_id=a.id
        LEFT join sys_act_category cat on a.category_id=cat.id
        where
        p.delete_flag=0 and p.forbid_flag=0 and p.review_status=1

        <if test="storeId!=null">
            and a.store_id = #{storeId}
        </if>
        <if test="actTypeId!=null">
            and a.act_type_id = #{actTypeId}
        </if>
        <if test="!history">
            and now() between p.start_time and p.end_time
        </if>
        <if test="history">
            and now() <![CDATA[ > ]]>   p.end_time
        </if>
    </select>

    <select id="getListMineAct" resultType="com.joycity.joyclub.act.modal.MineAct">
        select a.id AS act_id,CONCAT(a.`name`, '-',saa.name) AS act_name,saa.id AS attr_id, saa.target_num AS target_num, p.start_time, p.end_time, a.portrait
        from sale_act_price p
        join sale_act a on p.act_id=a.id
        JOIN sale_act_attr saa ON saa.act_id = a.id
        JOIN front_apply_act faa ON faa.id = a.apply_act_id
        where
        p.delete_flag=0 and p.forbid_flag=0 and p.review_status=1
        AND faa.client_id = #{clientId}
        order by a.display_weight desc,p.id desc
    </select>

    <select id="getListMineJoinAct" resultType="com.joycity.joyclub.act.modal.MineAct">
        select a.id AS act_id,CONCAT(a.`name`, '-',saa.name) AS act_name,saa.id AS attr_id,
        saa.target_num AS target_num, p.start_time, p.end_time,a.portrait
        from sale_act_price p
        join sale_act a on p.act_id=a.id
        JOIN sale_act_attr saa ON saa.act_id = a.id
        JOIN sale_act_order sao ON sao.attr_id = saa.id AND (sao.status = 2 OR sao.status = 4)
        where
        p.delete_flag=0 and p.forbid_flag=0 and p.review_status=1
        AND sao.client_id = #{clientId}
        order by a.display_weight desc,p.id desc
    </select>

</mapper>