<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joycity.joyclub.act.mapper.SaleActTypeMapper">
  <sql id="limit">
    limit #{pageUtil.offset},#{pageUtil.pageSize}
  </sql>
  <select id="selectList" resultType="com.joycity.joyclub.act.modal.ActTypeWithAct">
    SELECT act_type.* FROM sale_act_type act_type
    INNER JOIN
    (select DISTINCT(act.act_type_id) AS act_type_id from sale_act act
            INNER JOIN `sale_act_price` price on price.`act_id`  = act.`id` AND price.`review_status` = 1 and price.`delete_flag` = 0 and price.`forbid_flag` = 0 and  now() between price.start_time and price.end_time
            <where>
              <if test="projectId != null">
                AND act.project_id = #{projectId}
              </if>
            </where>
    ) act ON act.act_type_id = act_type.id
    ORDER BY display_weight DESC, id
    <if test="limit">
      <include refid="limit"/>
    </if>
  </select>

  <select id="countList" resultType="long">
    SELECT count(DISTINCT act_type.id) FROM sale_act_type act_type
    INNER JOIN sale_act act ON act.act_type_id = act_type.id
    <where>
      <if test="projectId != null">
        AND act.project_id = #{projectId}
      </if>
    </where>
  </select>

<!--  <resultMap id="SaleActTypeResultMap" type="com.joycity.joyclub.act.modal.ActTypeWithAct">
    <collection property="acts" resultMap="SaleActResultMap"/>
  </resultMap>
  <resultMap id="SaleActResultMap" type="com.joycity.joyclub.act.modal.generated.SaleAct"
             extends="com.joycity.joyclub.act.mapper.ActMapper.BaseResultMap">

  </resultMap>-->

  <select id="selectSaleActTypes" resultType="com.joycity.joyclub.commons.modal.base.IdName">
    select id,name from sale_act_type
    <where>
      AND project_id = #{projectId}
    </where>
  </select>

  <select id="selectAllSaleActTypes" resultType="com.joycity.joyclub.act.modal.generated.SaleActType">
    select * from sale_act_type
    <where>
      <if test="projectId != null">
        AND project_id = #{projectId}
      </if>
    </where>
  </select>

</mapper>