<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joycity.joyclub.act.mapper.FrontApplyActMapper">
    <sql id="limit">
        limit #{pageUtil.offset},#{pageUtil.pageSize}
    </sql>

    <select id="countList" resultType="long">
        SELECT count(*) FROM front_apply_act
        <where>
            <if test="reviewStatus != null">
               review_status = #{reviewStatus}
            </if>
        </where>
    </select>

    <select id="selectList" resultType="com.joycity.joyclub.act.modal.ApplyActWithType">
        SELECT faa.*,faat.name AS apply_act_type_name
        FROM front_apply_act faa
        JOIN front_apply_act_type faat ON faat.id = faa.apply_act_type_id
        <where>
            <if test="reviewStatus != null">
                faa.review_status = #{reviewStatus}
            </if>
        </where>
        <include refid="limit"/>
    </select>

    <update id="updateReviewApplyAct">
        UPDATE front_apply_act SET review_status = #{reviewStatus}
        <if test="reviewInfo != null">
            , review_info = #{reviewInfo}
        </if>
        WHERE id = #{id}
    </update>

    <select id="selectEffList" resultType="com.joycity.joyclub.act.modal.ApplyActWithType">
        SELECT faa.*,faat.name AS apply_act_type_name
        FROM front_apply_act faa
        INNER JOIN front_apply_act_type faat ON faat.id = faa.apply_act_type_id
        LEFT JOIN sale_act sa ON sa.apply_act_id = faa.id
        WHERE faa.review_status = 1 AND sa.apply_act_id IS NULL
        <include refid="limit"/>
    </select>

    <select id="countEffList" resultType="long">
        SELECT count(*)
        FROM front_apply_act faa
        LEFT JOIN sale_act sa ON sa.apply_act_id = faa.id
        WHERE faa.review_status = 1 AND sa.apply_act_id IS NULL
    </select>
</mapper>