# 默认的是生产环境的变量，开发时请在运行时追加active profiles为development
spring:
  datasource:
    url: jdbc:mysql://rm-2zew10t27zxjjz7uh.mysql.rds.aliyuncs.com:3306/joyclub2?characterEncoding=utf-8&autoReconnect=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Hong_Kong
    username: moma
    password: moma@#$123
    # 默认的是过时的com.mysql.jdbc.Driver
    driver-class-name: com.mysql.cj.jdbc.Driver
  http:
    multipart:
      max-file-size: 10MB
  jackson:
    default-property-inclusion: non_null
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: Asia/Hong_Kong
server:
  port: 8070
#   测试端口
#   port: 8079
logging:
  config: classpath:log4j2.xml


encrypt:
  password:
    #后端用户密码MD5加密的盐
    salt: joyclub$%^@
    #重置密码
    reset: 888888
session:
  api-back:
    attr:
      #后端的用户的session名
      user: USER
formdata:
  #formData 编码，防止formdata传参乱码
  encording: UTF-8
image:
  upload:
    api-back:
      #图片上传的文件夹
      path: /joyclub/image/
      #图片上传的基础地址
      result-base-url: /image/
      #单个文件最大是10M
      max-per-file: 10485760
wexin:
  openidUrl: https://api.weixin.qq.com/sns/oauth2/access_token?appid=APPID&secret=SECRET&code=CODE&grant_type=authorization_code
  userinfoUrl: https://api.weixin.qq.com/cgi-bin/user/info?access_token=ACCESS_TOKEN&openid=OPENID&lang=zh_CN
#悦客会公众号的的wexin pay
wxpay:
  appid: wx567b2af01e4b31a1
  appsecret: b2ba4d5a6d1467cd1fc1fd2da6a3a29a
  mchid: 1407360202

  # todo 修改cert地址
  cert: /sangto/jameka/wxcert/apiclient_cert.p12
  notifyUrl: http://ykh-bj.com/api/front/order/pay/wechat/notify
  sign: YkhBjcofco1407360202Joycity12000
  # 朝北的商户号配置
  cbMchid: 1252890701
  cbSign: joycity123456789API1234567890123
alipay:
  appId: 2017051207220035
  privateKey: MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQC4woNfeENF4ziqbxly9d3I845/ihSdva0ImQ7FCJSY2w1rYlbflV9ho/K6TZpClZv1ros7ZEyNFD68TaT7vAZEI5x8sh+Wj7mJD0s9tYr9MsrL7U4X4cjgqcdoS8Xvr4pvZAta9ksgv2sfs/JVU/Kk6lCk8UFsXnRd1n9BHhnkrMAxmub4LjcSwIlZ3SPXGPYlGHxpSmXjHP7nywiGtXXLI6OhvtOmyN3sfLXeYpxPA4qMFMDqiCDCqIL6BW/3mrf1ncxKe/PMoRfIwLHcsWekvdc+K70idYExf2/vKEk3k6ybh6/gsE72dMszLxkFE0IsH4OB9SYTJksLdgpxudy9AgMBAAECggEBAJfTiB+I9UdWDHfJ6lDVCFcdBil6b6ycdLfPBxsVDP97atCmtBrxZbsX/dvo723uAYZn05SPvHRmgZM9/ui6vy95UBwMR/byzpV50uu35qpg9dOUg4sOiINOIUZslhB74TfeL5KlOGGFy2L2/Znu7UNmJbUVaBzElb2TCWmacc6+W/AFZ5oqHtfuYMQxLS7T6LyyEGqBDARLNsEiMtJqamFKYDYqJgGG0FLeAczwzM7yeN1yJC9Mmx0SMIoBZK14g5HE8jLlV364RT05rwxdZm0acy+HKNv7geLJwiTOz0wzAY1PmA37z8iiOglDCEhap/xT32madHdEIO6URr4wlYECgYEA72NH6wgYjM0/iwWfepgXb71DIxTdLH90QKuidtOKa2TAxT7mBaGuWbin3SA8hCAXy2aECvzh8wsOUpoOUtZcdyGk8RLzxHqUyiT+2AaeDT8Sca9KgK6iapr+tRVsQ8sn9FRz7cPoMMSJyYIBkFVCjyd2nGortgDmLbZp5GwYFmECgYEAxZTEYEM5iPfb7Llgb5wfNnVR7aLtt+vU6s1dL5bg/wpcCRgCwO4p/WKUoN2V6/7zsgcHWupmE1sVWXCAyBN3c7QUEMaBXJjrTzS64FCluCJFKWXa/jHy4VtUAl1Dn7jkyvPhcgcC5DIDVPT41rfuBG1C5gL4zl4uG3wHq1AUa90CgYAF9wJWv+fkskSQET7NDjcfSKcAm8d7EV3zMpOkxFahoGwRPiT7JPE0OR6tqtz3KdmN7usBXxW+OZtMwZvzwnWhXkw+2YsLbUaB1vQmq9uKVvT9sjF4DWHsqBoKpxMAiXJgay5MUWJavLr2M3AYiZdT+9a/xQF70n/pya7Py0W6YQKBgQCVNKITm9CQGbUQEHG99yUvB+vFzBs+oC5a3pj3fjYNA3K7P1GdBn3ZJp/c11kHLbI0h9BLHOXWyhrWPvpRnTnAu4XHoVBBcA2K8+QHz39GDUMzXwLAoVGsUz6exnVx4buNdByU8qyBTS9s8c4UwDNTTnuNnULs/PxOrxxPh5rUVQKBgQCOtyJmfiqqWay44mhptsHj4wAHgFP97o/JfQ3zWO/sCC9Uuzm8WVT/WewIG3m3nOaxs2jdMxha0DKOK3bkwa6RgsBWkpoi11LS+TxXWf33fIebHYED1JaQ759pTNF0N5+VRyzyLeypGbW6h6ALsqYEW5qWd7Xl3ZNvksJrhVSJUg==
  publicKey: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuMKDX3hDReM4qm8ZcvXdyPOOf4oUnb2tCJkOxQiUmNsNa2JW35VfYaPyuk2aQpWb9a6LO2RMjRQ+vE2k+7wGRCOcfLIflo+5iQ9LPbWK/TLKy+1OF+HI4KnHaEvF76+Kb2QLWvZLIL9rH7PyVVPypOpQpPFBbF50XdZ/QR4Z5KzAMZrm+C43EsCJWd0j1xj2JRh8aUpl4xz+58sIhrV1yyOjob7Tpsjd7Hy13mKcTwOKjBTA6oggwqiC+gVv95q39Z3MSnvzzKEXyMCx3LFnpL3XPiu9InWBMX9v7yhJN5Osm4ev4LBO9nTLMy8ZBRNCLB+DgfUmEyZLC3YKcbncvQIDAQAB
  notifyUrl: http://ykh-bj.com/api/front/order/pay/ali/notify
  returnUrl: http://ykh-bj.com/alipayresult
  returnUrl-cb: http://joy-cb.ykh-bj.com/alipayresult

#科传 crm
crm:
  tech:
    url: http://joycitycrmws2.cofco.com:8082/CRM_VIP_Proxy.asmx
    signKey: 201610190945
    secretKey: 89622015104709087435617163207900
    user: YKH
    xml: <?xml version="1.0" encoding="UTF-8"?> <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"> <soap:Body> <method xmlns="http://www.tech-trans.com.cn/"> <request> <Header> header-parma </Header> <Data> data-parma </Data> </request> </method> </soap:Body> </soap:Envelope>
#验证码短信
message:
  send:
    url: http://new.yxuntong.com/emmpdata/sms/Submit
    username: 200262
    password: N~80;:Rz
    #每人每日最大短信数目
    num: 5
    #验证码有效时长，单位s
    period: 300
#猫酷相关
mallcoo:
  url:
    #http://docs.mallcoo.cn/OpenPlatform/APIDoc.html
    getTokenByTicket: https://openapi10.mallcoo.cn/User/OAuth/v1/GetToken/ByTicket
    getInfoByToken: https://openapi10.mallcoo.cn/User/BaseInfo/v1/Get/ByToken
    getAdvancedInfoById:  https://openapi10.mallcoo.cn/User/AdvancedInfo/v1/Get/ByOpenUserID
    getShop: https://openapi10.mallcoo.cn/Shop/V1/GetList
    #http://docs-t.mallcoo.cn/openplatform/coupon/v1/9.1.CodeGetPageByMemberID.html
    getCoupons: https://openapi10.mallcoo.cn/Coupon/v1/GetPage/ByMemberID
    # http://docs.mallcoo.cn/openplatform/coupon/v1/9.3.CodeGetByVCode.html
    getCouponInfo: https://openapi10.mallcoo.cn/Coupon/v1/Get/ByVCode

point:
  # 积分充值相关
  recharge:
    miteno:
      url: http://118.144.88.30:8081
      user: hongtai
      password: abc1234561
      mchid: 100879
      key: Xgvpnxxoixhs56RG2YXe
    flux:
      url: http://121.196.216.97:8080
      appId: C0036
      province: 110
      privateKey: MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAKdmk8ci9Vn6Q/irMWzeQ1emFEyVxS9FPBnwktPbG3SZCr6oREdVPwvym6ezrmgz4zbb0mkqcLd0+wE2KJJYv8VFjVo6SXVn+i4aoY/oSJrYAmE6XvvquRTgz4lHu7cOYi6xT8uWRfZd0iqcDTXHR1h6bMgMPUh6ssyvOL4GQHHXAgMBAAECgYBUq3F7e5cVl5vhntU094agQoRp6CcALcikZiYduek9JFtm67z9R4TICkHopN1GH1iBWtYmEy1H3YdHqZkDzJfR4JcpifmGvnan+hX5KitCfeVzTlErlN+22tvfFqRtr4+UqYsmQp5oA6idnMhBRwo2Y6YvtKD5azFTVcYMtmA+QQJBAOvLNZSSVaaQQX5F38QOkRGFfsI/QQU3ttGQhKLdiy96VB4Gdceypk+USsAU5hwE71FaJj2LxInu2/b4JJqmZ0kCQQC1vvnKq0l1oB7VxVf5r3vJs3YKfERhQ16oUx0XQ4ZSZnJOlauUZq9Hat+5krE7CJnslQ/iRgbzflpAwJh1mnAfAkEApl2aUFlvVTYy/4UNfKdKc7Jc3XEDz0qgEvyEmOT3b2hAMW8daukBruRSWXRlZx+UOzIACSy0Xx3I1Vf/e54tAQJBAK4OU9OQ7y1DR8Sa1oI9WWP2BtpL4ID1sDWsQ3QAKyfHDTnNhSD+pmbTJ6floO5UcnVs3GVrg0S2gWD6Egiu+ykCQCttGcWT6KspWht8NtfeljFvOwVbVU4G2ksFm2Bw2hBWxvh2mPNFVNMNw+RkReqnKyKQTkfg+I8aFVshpN/kO1g=
      publicKey: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCnZpPHIvVZ+kP4qzFs3kNXphRMlcUvRTwZ8JLT2xt0mQq+qERHVT8L8puns65oM+M229JpKnC3dPsBNiiSWL/FRY1aOkl1Z/ouGqGP6Eia2AJhOl776rkU4M+JR7u3DmIusU/LlkX2XdIqnA01x0dYemzIDD1IerLMrzi+BkBx1wIDAQAB



  # 积分抵现码相关
  qrcode:
    key: 013c5b2630558c4d
    # POS的接口 POST,DATE格式2017-08-06 09:39:00
    pos:
      api:
        data: >-
          {"req":{"funcid":"9001","termid":"H5-001","oprtno":"JOYCITY-APP","oprtmd":"0","reqdate":"DATE"},"viptrack":"VIPCODE"}
        url: http://111.207.146.151:18080/LayerArchitecture/winpos/uf_stservice_term?reqjson={reqjson}

# 京东钢镚
rtm:
  key: 4b5ac909e347820f5970c96990fbb982

async:
  kechuan:
  # 科传会员变动 通知我方
    client:
      userCode: kechuanClientAsync
      privateKey: MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAMV+4slFS5omSc9AvvXhArHDuB/nYeGytzyyXureqowl8xlQwD95cMBy4WS/Vt4czlicFgBJcrbJYtfdC+m8ksecIlirSMiZB+hwkIPLlCzKvsUDvJugXlgeygIJyEpT/SymOFqjfLdXMp0oplbyvO+t+q2soOvIXq1BIrIMif/FAgMBAAECgYAmnKkgKqEeUTALCiCLl+Nb9+Tur+EuLC+w+TqfdssnPWAq6eO8RTTrG0q/1LzaDg21u0Z95d48qGDfzUK//vM/JNIm11NunQqitcosqQ8g+SdON5vhybycNEdYu9OwfY8OVlU5k5jUnqb7vScOgfguURBvTcRmBoKPSytrUlpxIQJBAP2z+yGKeyanfB4ZmyWXGRIFjcdA/oU8NpWhhKcOsfLzlBqRQoRLw5xgPNiTKHbjj6veplCYPz16CzaiVnvnyrkCQQDHSKFmSz2X6d5We5M14vue0wCNssoq+CKEWh5/oI3nnCEPIMCiXq5pF7zqgI6qY1lj2u1xGTOMGaSfshPNaqdtAkEAoIBdrxGB6alpr005xuU5ehpDYLwwiS/XxIADgQCd+Xq5xrkBINshrGuB8u3eWqCKgwv/ods/nu/36h93oTm6GQJAVHRlYjK00bKdNU19n7KoLDED5QlGQFuUVT7T+gaS3Pr/z6dzu9wgUg1rVH5S98bO1VCsm+ewPsmHSN5xIfb3KQJASGaFlchTGF8Jm8evxLfJHDpk+i0RfHJdwjsqH8E65AHdpo8z3rtpTB2Q0yoFsfxzikLsJDDc2+IRghOsJJ+F4g==
      publicKey: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDFfuLJRUuaJknPQL714QKxw7gf52Hhsrc8sl7q3qqMJfMZUMA/eXDAcuFkv1beHM5YnBYASXK2yWLX3QvpvJLHnCJYq0jImQfocJCDy5Qsyr7FA7yboF5YHsoCCchKU/0spjhao3y3VzKdKKZW8rzvrfqtrKDryF6tQSKyDIn/xQIDAQAB

coupon:
  wxPay:
    notifyUrl: http://ykh-bj.com/api/front/card/coupon/pay/we_chat/notify

  aliPay:
    notifyUrl: http://ykh-bj.com/api/front/card/coupon/pay/ali/notify

# pos 加密需要

pos:
  appid: rzrf9teOyA5l
# pos与后台通信密钥。secretKey用MD5加密，与pos传过来的sign对比，一样就可以通过。
  secretKey: pC6yk2RoMqbK20jFv6NlPAg2

---
spring:
  profiles: development
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/joyclub?useUnicode=true&characterEncoding=utf8&useLegacyDatetimeCode=false&serverTimezone=Asia/Hong_Kong&useSSL=false
    password: root
    username: root
#    url: jdbc:mysql://rm-2zew10t27zxjjz7uho.mysql.rds.aliyuncs.com:3306/joyclub2?characterEncoding=utf-8&autoReconnect=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Hong_Kong
#    username: moma
#    password: moma@#$123

wxpay:
  notifyUrl: http://callmexyz.ngrok.cc/api/front/order/pay/wechat/notify
alipay:
  notifyUrl: http://callmexyz.ngrok.cc/api/front/order/pay/ali/notify
  returnUrl: http://callmexyz1.ngrok.cc/alipayresult
server:
  port: 8080



