<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joycity.joyclub.apiback.mapper.manual.SaleProductPriceMapper">

    <sql id="limit">
      limit #{pageUtil.offset},#{pageUtil.pageSize}
    </sql>
    <sql id="where_for_store">
        <where>
            a.delete_flag=0 and p.store_id=#{storeId}
            <if test="reviewStatus!=null">
                and a.review_status = #{reviewStatus}
            </if>
            <if test="productNameLike!=null">
                and p.name like #{productNameLike}
            </if>
        </where>

    </sql>
    <sql id="where_for_project">
        <where>
            a.delete_flag=0
            <if test="reviewStatus!=null">
                and a.review_status = #{reviewStatus}
            </if>

            <if test="storeNameLike!=null">
                and s.name like #{storeNameLike}
            </if><if test="productNameLike!=null">
                and p.name like #{productNameLike}
            </if>
        </where>

    </sql>
    <select id="countForStore" resultType="java.lang.Long">

        select count(*) from sale_product_price a
        left join sale_product p on a.product_id=p.id
        <include refid="where_for_store"/>
    </select>
    <select id="selectForStore"
            resultType="com.joycity.joyclub.apiback.modal.product.price.ProductPriceWithProductInfo">

        select a.id,a.price,a.product_id,a.point_rate,a.start_time,a.end_time,a.forbid_flag,a.review_status,a.review_info,p.name productName,p.base_price
        from sale_product_price a
        left join sale_product p on a.product_id=p.id
        <include refid="where_for_store"/>
        order by a.id desc
        <include refid="limit"/>
    </select>
    <select id="countForProject" resultType="java.lang.Long">

        select count(*) from sale_product_price a
        left join sale_product p on a.product_id=p.id
        left join sys_store s on p.store_id = s.id
        <include refid="where_for_project"/>
    </select>
    <select id="selectForProject"
            resultType="com.joycity.joyclub.apiback.modal.product.price.ProductPriceWithProductInfo">

        select a.id,a.price,a.product_id,a.point_rate,a.start_time,a.end_time,a.forbid_flag,a.review_status,a.review_info,p.name productName,p.base_price,s.name storeName
        from sale_product_price a
        left join sale_product p on a.product_id=p.id
        left join sys_store s on p.store_id = s.id
        <include refid="where_for_project"/>
        order by a.id desc
        <include refid="limit"/>
    </select>
    <select id="countPriceTimeOverlap" resultType="java.lang.Long">

        select count(*) from sale_product_price
        where forbid_flag=false
        and review_status !=2
        and product_id = #{productId}
        <if test="id!=null">
            and id !=#{id}
        </if>
        and ((start_time &gt;= #{startTime} and start_time &lt; #{endTime}) or(end_time &gt; #{startTime} and start_time &lt;= #{endTime}))
    </select>


</mapper>