<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joycity.joyclub.coupon.mapper.CouponMapper">
    <sql id="limit">
      limit #{pageUtil.offset},#{pageUtil.pageSize}
  </sql>
    <sql id="where_project_and_name">
        <where>
            delete_flag=0 and project_id=#{projectId}
            <if test="type!=null">
                and type = #{type}
            </if>
            <if test="useFlag!=null">
                and use_flag = #{useFlag}
            </if>
            <if test="nameLike!=null">
                and name like #{nameLike}
            </if>
        </where>

    </sql>
    <select id="countByFilter" resultType="java.lang.Long">

        select count(*) from coupon
        <include refid="where_project_and_name"/>
    </select>
    <select id="selectByFilter"
            resultType="com.joycity.joyclub.coupon.modal.generated.Coupon">

        select id, project_id, name, type, show_start_time, show_end_time, available_start_time,
        available_end_time, point_cost, num, use_flag, use_time, forbid_flag,
        forbid_time,info, portrait/*create_time, last_update, delete_flag, delete_time*/
        from coupon
        <include refid="where_project_and_name"/>
        order by id desc
        <include refid="limit"/>
    </select>
    <select id="selectForFrontByFilter"
            resultType="com.joycity.joyclub.coupon.modal.CouponForClient">
        select c.*,code.code,code.use_status clientUseStatus,code.use_time clientUseTime,code.check_flag,code.check_time
        from coupon c
        join coupon_card_type cardType on c.id=cardType.coupon_id and cardType.card_type=#{cardType}
        left join coupon_code code on code.coupon_id=c.id and code.client_id=#{clientId}
        where c.project_id=#{projectId} and c.delete_flag=false and c.use_flag=true and c.forbid_flag=false and now() between c.show_start_time and c.show_end_time
        order by c.use_time desc
        <include refid="limit"/>
    </select>
    <select id="selectForFrontWithoutClientByFilter"
            resultType="com.joycity.joyclub.coupon.modal.CouponForClient">
        select c.*,0 clientUseStatus,0 checkStatus
        from coupon c
        where c.project_id=#{projectId} and c.delete_flag=false and c.use_flag=true and c.forbid_flag=false and now() between c.show_start_time and c.show_end_time
        order by c.use_time desc
        <include refid="limit"/>
    </select>

    <select id="selectClientCouponsByFilter"
            resultType="com.joycity.joyclub.coupon.modal.CouponForClient">
        select c.*,code.code,code.use_status,code.use_time,code.check_flag,code.check_time
        from coupon_code code
        join coupon c on code.coupon_id=c.id
        where code.delete_flag=0 and code.client_id=#{clientId} and code.use_status=1 and code.check_flag=0 and  now() between c.available_start_time and c.available_end_time
        order by code.use_time desc
        <include refid="limit"/>
    </select>
</mapper>