<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joycity.joyclub.card_coupon.mapper.CardCouponCodeMapper">

    <sql id="limit">
        limit #{pageUtil.offset},#{pageUtil.pageSize}
    </sql>

    <sql id="CardCouponCodeColumn">

    ccc.id, ccc.code, ccc.launch_id, ccc.order_code, ccc.belong, ccc.client_id, ccc.receive_time, ccc.use_time,
    ccc.use_status, ccc.create_time, ccc.last_update, ccc.delete_flag, ccc.delete_time
    </sql>

    <!-- 现在可用券的过滤条件，状态为未使用，当前时间在有效期内 -->
    <sql id="UsableCouponCodeFilter">
        ccc.use_status = 1
        AND now() <![CDATA[ > ]]> ccl.effective_start_time
        AND now() <![CDATA[ < ]]> ccl.effective_end_time
    </sql>

    <sql id="CardCouponCodeFilter">
        ccc.delete_flag = 0
        <if test="projectId != null">
            AND cc.project_id = #{projectId}
        </if>
        <if test="filter != null">
            <if test="filter.code != null">
                AND ccc.code = #{filter.code}
            </if>
            <if test="filter.tel != null">
                AND c.tel = #{filter.tel}
            </if>
            <if test="filter.couponType != null">
                AND cc.type = #{filter.couponType}
            </if>
            <if test="filter.couponName != null">
                AND cc.name LIKE #{filter.couponName}
            </if>
            <if test="filter.couponLaunchName != null">
                AND ccl.name LIKE #{filter.couponLaunchName}
            </if>
            <if test="filter.thirdPartyName != null">
                AND cts.name LIKE #{filter.thirdPartyName}
            </if>
            <if test="filter.thirdPartyShopId != null">
                AND cc.thirdparty_shop_id = #{filter.thirdPartyShopId}
            </if>
        </if>
    </sql>

    <select id="selectCouponLimitInfo" resultType="int">
        SELECT count(*) FROM card_coupon_code
        <where>
            <if test="storeId != null">
               AND issue_shop = #{storeId}
            </if>
            <if test="launchId != null">
                AND launch_id = #{launchId}
            </if>
            <if test="range != null">
                <if test="range.from != null">
                    AND #{range.from} <![CDATA[ <= ]]> receive_time
                </if>
                <if test="range.to != null">
                    AND receive_time <![CDATA[ < ]]> #{range.to}
                </if>
            </if>
        </where>
    </select>

    <select id="countSysCardCouponCodeByFilter" resultType="long">
        SELECT
        count(*)
        FROM card_coupon_code ccc
        INNER JOIN card_coupon_launch ccl ON ccl.id = ccc.launch_id AND ccl.delete_flag = 0
        INNER JOIN card_coupon cc ON cc.id = ccl.coupon_id AND cc.type != 3 AND cc.delete_flag = 0
        INNER JOIN client c ON c.id = ccc.client_id AND c.delete_flag = 0
        <where>
            <include refid="CardCouponCodeFilter"/>
        </where>
    </select>

    <select id="selectSysCardCouponCodeByFilter" resultType="com.joycity.joyclub.card_coupon.modal.ShowCouponCodeInfo">
        SELECT
        <include refid="CardCouponCodeColumn"/>,
        cc.name AS coupon_name, cc.type AS coupon_type, ccl.name AS coupon_launch_name, c.vip_code, c.tel, c.real_name
        FROM card_coupon_code ccc
        INNER JOIN card_coupon_launch ccl ON ccl.id = ccc.launch_id AND ccl.delete_flag = 0
        INNER JOIN card_coupon cc ON cc.id = ccl.coupon_id AND cc.type != 3 AND cc.delete_flag = 0
        INNER JOIN client c ON c.id = ccc.client_id AND c.delete_flag = 0
        <where>
            <include refid="CardCouponCodeFilter"/>
        </where>
        ORDER BY ccc.create_time DESC
        <include refid="limit"/>
    </select>

    <select id="selectByCode" resultType="com.joycity.joyclub.card_coupon.modal.ShowPosCurrentCouponCodeInfo">
        select
        cc.id AS coupon_id, cc.name AS coupon_name, cc.type AS coupon_type, cc.amount, cc.subtract_amount,
        ccl.name AS launch_name, ccl.type AS launch_type, ccc.id AS coupon_code_id, ccc.code, ccc.use_status,
        ccc.client_id,c.tel,c.real_name as client_name, c.vip_code, ccl.effective_start_time, ccl.effective_end_time
        from card_coupon_code ccc
        inner join card_coupon_launch ccl on ccl.id = ccc.launch_id and ccl.delete_flag = 0
        inner join card_coupon cc on cc.id = ccl.coupon_id and cc.delete_flag = 0 and cc.`type` != 3
        inner join client c on c.id = ccc.client_id and c.delete_flag = 0
        <where>
            <if test="code != null">
                AND ccc.code = #{code}
            </if>
            <if test="belong != null">
                AND ccc.belong = #{belong}
            </if>
            <if test="couponId != null">
                AND ccc.id = #{couponId}
            </if>
        </where>
    </select>

    <select id="selectCurrentCouponCode"
            resultType="com.joycity.joyclub.card_coupon.modal.ShowPosCurrentCouponCodeInfo">
        select
        cc.name AS coupon_name, cc.type AS coupon_type, cc.amount, cc.subtract_amount,
        ccl.name AS launch_name, ccl.type AS launch_type, ccc.id AS coupon_code_id, ccc.code, ccc.use_status,
        ss.name AS shop_name, ccl.effective_start_time, ccl.effective_end_time
        from card_coupon_code ccc
        inner join card_coupon_launch ccl on ccl.id = ccc.launch_id and ccl.delete_flag = 0
        inner join card_coupon cc on cc.id = ccl.coupon_id and cc.delete_flag = 0 and cc.`type` != 3
        inner join card_coupon_store_scope ccss on ccss.coupon_id = cc.id and ccss.delete_flag = 0
        inner join sys_shop ss on ss.id = ccss.store_id and ss.code = #{shopCode} and ss.project_id = #{projectId} and
        ss.delete_flag = 0
        inner join card_coupon_vip_scope ccvs on ccvs.coupon_id = cc.id and ccvs.delete_flag = 0
        inner join client c on c.id = ccc.client_id and c.delete_flag = 0 and c.vip_card_grade = ccvs.vip_type

        <where>
            <include refid="UsableCouponCodeFilter"/>
            <if test="tel != null">
                and c.tel = #{tel}
            </if>
            <if test="vipCode != null">
                AND c.vip_code = #{vipCode}
            </if>
            AND ccc.delete_flag = 0
        </where>
    </select>

    <!-- 查找在条件投放期间，该会员，已使用代金券券量和未使用券量 -->
    <select id="selectCouponNumFromLaunchBetween"
            resultType="com.joycity.joyclub.card_coupon.modal.CouponLaunchBetweenInfo">
        SELECT
        COUNT(CASE WHEN ccc.use_status = 1 THEN 1 ELSE NULL END) AS not_used_num,
        COUNT(CASE WHEN ccc.use_status = 2 THEN 1 ELSE NULL END) AS used_num
        FROM card_coupon_code ccc
        INNER JOIN
        ( SELECT ccl2.launch_start_time, IFNULL(ccl2.forbid_time,ccl2.launch_end_time) AS launch_end_time
        FROM card_coupon_launch ccl2
        INNER JOIN card_coupon cc ON cc.id = ccl2.coupon_id AND cc.type = 2
        INNER JOIN card_coupon_trigger_scope ccts ON ccts.launch_id = ccl2.id
        WHERE now() <![CDATA[ > ]]> ccl2.launch_start_time
        AND now()  <![CDATA[ < ]]> IFNULL(ccl2.forbid_time,ccl2.launch_end_time)
        and ccts.store_id = #{shopId}
        and ccl2.type = 1 and ccl2.confirm_flag
        = 1 and ccl2.review_status = 1 and ccl2.delete_flag = 0
        ) launch_time ON ccc.receive_time  <![CDATA[ > ]]>  launch_time.launch_start_time
        AND ccc.receive_time <![CDATA[ < ]]> launch_time.launch_end_time
        INNER JOIN card_coupon_launch ccl ON ccl.id = ccc.launch_id
        AND ccl.delete_flag = 0 AND ccl.type = 1
        INNER JOIN card_coupon cc ON cc.id = ccl.coupon_id
        <where>
            ccc.client_id = #{clientId}
            AND ccc.issue_shop = #{shopId}
            AND cc.type = 2
            AND ccc.use_status != 3
            AND ccc.belong = -1
            AND ccc.delete_flag = 0
        </where>
    </select>

    <select id="selectNotUsedCashCouponCodeIdFromLaunchBetween" resultType="long">
        SELECT
        ccc.id
        FROM card_coupon_code ccc
        INNER JOIN
        ( SELECT ccl2.launch_start_time, IFNULL(ccl2.forbid_time,ccl2.launch_end_time) AS launch_end_time
        FROM card_coupon_launch ccl2
        INNER JOIN card_coupon cc ON cc.id = ccl2.coupon_id AND cc.type = 2
        INNER JOIN  card_coupon_trigger_scope ccts ON ccts.launch_id = ccl2.id
        WHERE
        ccts.store_id = #{shopId}
        AND now() <![CDATA[ > ]]> ccl2.launch_start_time
        AND now()  <![CDATA[ < ]]> IFNULL(ccl2.forbid_time,ccl2.launch_end_time) and ccl2.type = 1 and ccl2.confirm_flag
        = 1 and ccl2.review_status = 1 and ccl2.delete_flag = 0
        ) launch_time ON ccc.receive_time  <![CDATA[ > ]]>  launch_time.launch_start_time
        AND ccc.receive_time <![CDATA[ < ]]> launch_time.launch_end_time
        INNER JOIN card_coupon_launch ccl ON ccl.id = ccc.launch_id
        AND ccl.delete_flag = 0 AND ccl.type = 1
        INNER JOIN card_coupon cc ON cc.id = ccl.coupon_id
        INNER JOIN  card_coupon_trigger_scope ccts ON ccts.launch_id = ccl.id
        <where>
            ccc.client_id = #{clientId}
            AND ccts.store_id = #{shopId}
            AND cc.type = 2
            AND ccc.use_status = 1
            AND ccc.belong = -1
            AND ccc.delete_flag = 0
        </where>
        limit 0,#{num}
    </select>

    <!-- 第三方的sql start -->
    <select id="countCardThirdCouponCodeByFilter" resultType="long">
        SELECT
        count(*)
        FROM card_coupon_code ccc
        INNER JOIN card_coupon_launch ccl ON ccl.id = ccc.launch_id AND ccl.delete_flag = 0
        INNER JOIN card_coupon cc ON cc.id = ccl.coupon_id AND cc.delete_flag = 0
        INNER JOIN client c ON c.id = ccc.client_id AND c.delete_flag = 0
        INNER JOIN card_third_party_shop cts ON cts.id = cc.thirdparty_shop_id AND cts.delete_flag = 0
        <where>
            <include refid="CardCouponCodeFilter"/>
            AND cc.type = 3
        </where>
    </select>

    <select id="selectCardThirdCouponCodeByFilter"
            resultType="com.joycity.joyclub.card_coupon.modal.ShowCouponCodeInfo">
        SELECT
        <include refid="CardCouponCodeColumn"/>,
        cc.name AS coupon_name, cc.type AS coupon_type, ccl.name AS coupon_launch_name, c.vip_code, c.tel, c.real_name,
        cts.name AS third_party_shop_name
        FROM card_coupon_code ccc
        INNER JOIN card_coupon_launch ccl ON ccl.id = ccc.launch_id AND ccl.delete_flag = 0
        INNER JOIN card_coupon cc ON cc.id = ccl.coupon_id AND cc.delete_flag = 0
        INNER JOIN client c ON c.id = ccc.client_id AND c.delete_flag = 0
        INNER JOIN card_third_party_shop cts ON cts.id = cc.thirdparty_shop_id AND cts.delete_flag = 0
        <where>
            <include refid="CardCouponCodeFilter"/>
            AND cc.type = 3
        </where>
        ORDER BY ccc.create_time DESC
        <include refid="limit"/>
    </select>

    <select id="selectCurrentClientCouponUsable" resultType="com.joycity.joyclub.card_coupon.modal.ClientCouponBag">
        SELECT
        cc.name AS coupon_name, cc.type AS coupon_type, cc.info, cc.portrait, cc.amount, cc.subtract_amount,
        cc.support_refund_flag,
        ccl.effective_start_time, ccl.effective_end_time,
        ccc.code, ccc.belong, ccc.receive_time, ccc.use_status, c.vip_code
        from card_coupon_code ccc
        INNER JOIN card_coupon_launch ccl ON ccl.id = ccc.launch_id
        INNER JOIN card_coupon cc ON cc.id = ccl.coupon_id
        INNER JOIN client c ON c.id = ccc.client_id
        WHERE
        <include refid="UsableCouponCodeFilter"/>
        AND ccc.client_id = #{clientId}
        AND ccc.use_status = 1 AND ccc.delete_flag = 0
        ORDER BY ccl.effective_end_time DESC, ccc.create_time DESC, ccc.id
    </select>
    <select id="selectClientAvailableCoupon" resultType="com.joycity.joyclub.card_coupon.modal.CouponSimpleInfoInBag">
        SELECT
        ccc.id couponId,4 couponType,cc.type  sysCouponType, cc.name name,cc.portrait sysCouponPortrait, cc.amount sysConditionMoney, cc.subtract_amount sysReduceMoney,
        ccl.effective_start_time enableTime, ccl.effective_end_time overdueTime,
        ccc.code vCode,  ccc.receive_time sysCouponReceiveTime, ccc.use_status sysUseStatus,1 ifSystem
        from card_coupon_code ccc
        INNER JOIN card_coupon_launch ccl ON ccl.id = ccc.launch_id
        INNER JOIN card_coupon cc ON cc.id = ccl.coupon_id
        WHERE
        ccc.use_status = 1
        AND now() &gt; ccl.effective_start_time
        AND now() &lt; ccl.effective_end_time
        AND ccc.client_id = #{clientId}
        AND ccc.delete_flag = 0
        ORDER BY ccl.effective_end_time DESC, ccc.id DESC
    </select>
    <select id="selectCouponInfoByCodeId" resultType="com.joycity.joyclub.card_coupon.modal.CouponInfoInBag">
        SELECT
        ccc.id  couponId,cc.info `desc`,ccc.use_time useTime,cc.name name,4 couponType,cc.type  sysCouponType,  cc.portrait sysCouponPortrait,
        cc.amount sysConditionMoney, cc.subtract_amount sysReduceMoney,ccc.launch_id, ccl.coupon_id,
        ccl.effective_start_time EnableTime, ccl.effective_end_time OverdueTime,
        ccc.code vCode,  ccc.receive_time sysCouponReceiveTime, ccc.use_status sysUseStatus
        from card_coupon_code ccc
        INNER JOIN card_coupon_launch ccl ON ccl.id = ccc.launch_id
        INNER JOIN card_coupon cc ON cc.id = ccl.coupon_id
        WHERE ccc.id = #{id}
    </select>
</mapper>